<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Home</title>
<!-- Adjust the href attribute to match the correct path to your CSS file -->
<link rel="stylesheet" href="/css/adminHome.css">
</head>
<body>
	<header>
		<h1>Admin Home</h1>
	</header>
	<nav>
		<a href="/newSong">Add Songs</a> <a href="/viewSongs">View Songs</a> <a
			href="/createPlaylist">Create Playlist</a> <a href="/logout">LOGOUT</a>
		<a href="/viewPlaylists">View Playlist</a>
	</nav>
</body>
</html>
