<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/displayPlaylist.css}">
		<style type="text/css">
			iframe{
			height:200px;
			width:700px;
			}
		</style>
	</head>
	<body>
		<h1>Playlists</h1>
		<table border="1">
			<tr>
				<th>Name</th>
				<th>Songs</th>
			</tr>
			<tr th:each="plist : ${allPlaylists}">
				<td th:text="${plist.name}"></td>
				<td >
					<ul>
						<li th:each="song:${plist.song}">
							<span th:text="${song.name}"></span>
							<audio controls>
								<source th:src="${song.link}" type="audio/mpeg">
							</audio>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</body>
</html>